<!DOCTYPE html>
<html>

<head>


    <form  action="/index">
        <input type="submit" value="button">
        <input type="time"  name="ti">

    </form>

    <div>

        {{#rasmlar}}

        <img src="/img{{image}}">
    {{/rasmlar}}

    </div>
</head>